// VARIABLES 

// LIGHT COLORS

$lightClaro: #FFFBEB;
$lightMedio: #495579;
$lightFuerte: #263159;
$lightOscuro: #251749;

// DARK COLORS 

$darkClaro: #bab6b6;
$darkMedio: #3C415C;
$darkFuerte: #301B3F;
$darkOscuro: #151515;
