// VARIABLES 

// LIGHT COLORS

$navBarLight: #495579;
$textLight: #251749;
$lightClaro: #FFFBEB;
$lightMedio: #495579;
$lightFuerte: #263159;
$lightOscuro: #251749;

// DARK COLORS 

$navBarDark: #251749;
$textDark: #FFFBEB;
$bgDark: #495579;
$cardDark: #263159;
$darkClaro: #bab6b6;
$darkMedio: #3C415C;
$darkFuerte: #301B3F;
$darkOscuro: #151515;
