@import './colors.scss';

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    h1{
        margin: 0
    }
    p{
        margin-bottom: 2rem;
    }
}

.dark{
    background-color: $darkClaro;

    h1{
        color: $darkOscuro;        
    }
    p{
        color: $darkOscuro;        
    }
}

.light{
    h1{
        color: $lightFuerte;
    }
}