@import './colors.scss';

.favs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 90vw;
        gap: 1rem;
    }
}

.dark{
    background-color: $darkClaro;
    
    h1{
        color: $darkOscuro
    }
}

.light{
    h1{
        color: $lightFuerte
    }
}