@import "../colors.scss";


.card{
    border-radius: 20px;
    border: solid 1px;
    height: 20rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

    img{
        height: 10rem;
        width: 10rem;
    }

    div{
        text-align: center;
    }
    button{
        border-radius: 20px;
    }
    
}

.light{
    background-color: $lightClaro;
    border-color: $lightMedio;

    h3{
        color: $lightFuerte;
    }
    p{
        color: $lightFuerte;
    }
    button{
        background-color: $lightMedio;
        color: $lightClaro;

        &:hover{
            background-color: $lightFuerte;
        }
    }

}

.dark{
    background-color: $lightMedio;
    border-color: $lightFuerte;

    h3{
        color: $lightClaro;
    }
    p{
        color: $lightClaro
    }
    button{
        background-color: $darkClaro;
        color: $lightFuerte;

        &:hover{
            background-color: $lightFuerte;
            color: $lightClaro;

        }
    }
}